@font-face {
    font-family: ikaruga;
    src: url("./fonts/ikaruga.ttf");
}

body {
    /*text-align: center;*/
    background-image: url("./images/bg/ikaruga1-min.jpg");
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ikaruga;
    font-size: 1em;
}

#backgrounds-label {
    color: white;
}

#dificult-screen {
    color: magenta;
}

#game {
    /*border: 5px solid red;*/
    height: 700px;
}

#game-board {
    text-align: center;
}

#header {
    background-color: black;
}

.help {
    /*border: 1px solid red;*/
}

.intro-video {
    text-align: center;
    margin: 0 auto;
    width: 1280px;
}

.gameover-video {
    visibility: hidden;
    text-align: center;
    margin: 0 auto;
}

#options, #options2, #start-button {
    background-color: black;
}

#scores {
    background-color: white;
}
.score {
    color: white;
}

#score-points-p1, #score-label-p1 {
    font-size: 1em;
    color: blue;
}

#score-points-p2, #score-label-p2 {
    font-size: 1em;
    color: red;
}

#start-button {
    background-color: yellow;
    /*
    position: fixed;
    top: 200px;
    left: 800px;
    */
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    font-size: 1.5em;
}

video {
    text-align: center;
}