@font-face {
    font-family: ikaruga;
    src: url("./fonts/ikaruga.ttf");
}

body {
    /*text-align: center;*/
    background-image: url("./images/bg/ikaruga1.jpg");
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ikaruga;
    font-size: 1.2em;
}

#game {
    /*border: 5px solid red;*/
    /*height: 700px;*/
}

#game-board {
    text-align: center;
}

#header {
    height: 50px;
}

.help {
    /*border: 1px solid red;*/
}

.intro-video {
    margin: 0 auto;
    width: 1280px;
}
.score {
    color: white;
}

#start-button {
    background-color: #fff;
    /*
    position: fixed;
    top: 200px;
    left: 800px;
    */
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    font-size: 2em;
}

video {
    text-align: center;
}